
//Variables de colores

$primary-color: #FFC7C7;
$secondary-color: #FFE2E2;
$tertiary-color: #F6F6F6;
$quaternary-color: #8785A2;

//Variables de fuentes

$fuente-titulo: 'Roboto', sans-serif;
$fuente-texto: 'Open Sans', sans-serif;

