
//Variables de colores

$primary-color: #131842;
$secondary-color: #E68369;
$tertiary-color: #ECCEAE;
$quaternary-color: #FBF6E2;

//Variables de fuentes

$fuente-titulo: 'Roboto', sans-serif;
$fuente-texto: 'Open Sans', sans-serif;

